﻿body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: #333;
    display: inline;
    padding: 5px 10px;
    border-radius: 5px;
}
form {
    width: 350px; 
    padding: 60px 20px; 
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 10px; 
    background: linear-gradient(to bottom, #ccc, #fff); 
    text-align: center;
}

div {
    margin-bottom: 15px;
}

input[type="text"],
select,
button {
    width: 100%;
    padding: 12px; 
    margin: 8px 0; 
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: calc(100% - 10px);
    padding: 15px; 
    margin: 8px 0; 
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

    button:hover {
        background-color: #45a049;
    }

label {
    display: block;
    font-weight: bold;
    color: #333; 
}
